.App1 {
    text-align: center;
  }


  
  .buttontwo {
    background-color: rgb(245, 247, 247);
    font-size: 14pt;
    width: 20vh;
    border: 0;
    padding: 3px 0;
    margin: 5px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(62, 85, 192);
    border-radius: 12px;
  }
  .buttonNext {
    background-color: rgb(123, 134, 211);
    width: 20vh;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 12px;
  }