.pageTitle{
    text-align: center;
    font-size: 46.55px;
}

@media only screen and (max-width: 930px){
    .pageTitle{
        font-size:5vw;
    }
}
/* @media only screen and (min-width: 930px){

} */

.pageDiv{
    width: 90%;
    margin-left: 3%;
    margin-right: 5%;
}
/* @media only screen and (max-width: 1000px){
    #CarouselEvent{
        height: 35vh;
    }
    #CarouselImg{
        height: 35vh;
    }
    
}
@media only screen and (min-width: 1000px) and (max-width: 1250px){
    #CarouselImg{
        height: 50vh;
        width: 100vw;
    }
    
    #CarouselEvent{
        height: 50vh;
        width: 100vw;
    }
}
@media only screen and (min-width: 1250px) and (max-width: 1450px){
    #CarouselImg{
        height: 60vh;
        width: 100vw;
    }
    
    #CarouselEvent{
        height: 60vh;
        width: 100vw;
    }
}
@media only screen and (min-width: 1450px){
    #CarouselImg{
        height: 70vh;
        width: 100vw;
    }
    
    #CarouselEvent{
        height: 70vh;
        width: 100vw;
    }
} */