.pageTitle{
    text-align: center;
    /* font-size: 46.55px; */
}

@media only screen and (max-width: 930px){
    .pageTitle{
        /* font-size:5vw; */
    }
}

.pageDiv{
    width: 90%;
    margin-left: 3%;
    margin-right: 5%;
}
/* @media only screen and (max-width: 500px){
    
    .pageTitle{
        font-size: 4vw;
    }
    .EventCapacity{
        font-size: 3vw;
    }
    
} */





@media only screen and (max-width: 800px){

    .pageTitle{
        font-size: 35px;
    }
    .EventTitle{
        font-size: 25px;
        font-weight: 600;
    }
    .EventCapacity{
        font-size: 3vw;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1100px){
    .pageTitle{
        font-size: 40px;
    }
    .EventTitle{
        font-size: 30px;
        font-weight: 600;
    }
    .EventCapacity{
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1300px){
    .pageTitle{
        font-size: 45px;
    }
    .EventTitle{
        font-size: 40px;
        font-weight: 600;
    }
    .EventCapacity{
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1300px){
    .pageTitle{
        font-size: 50px;
    }
    .EventTitle{
        font-size: 45px;
        font-weight: 600;
    }
    .EventCapacity{
        font-size: 3vw;
    }
}