body{
  background-color: darkgray;
}

.Card-Size{
  width: 18rem;
  margin-bottom: 60px;
}

@media only screen and (max-width: 575px) and (min-width: 489px){
  #accountLogo{
  margin-right: -30%;
  }
}
@media only screen and (max-width: 489px) and (min-width: 435px){
  #accountLogo{
  margin-right: -17%;
  }
}
@media only screen and (max-width: 435px) and (min-width: 380px){
  #accountLogo{
  margin-right: -13%;
  }
}
@media only screen and (max-width: 380px) and (min-width: 300px){
  #accountLogo{
  margin-left: auto;
  margin-right: -30px;
  }
}
#accountLogo{
  margin-left: 7px;
  color: black;
}



.CardSize{
  width:170px;
  height: 185px;
}
#Card-Image-home:hover{
  border: 2px solid rgb(241, 170, 15);
}
@media only screen and (max-width: 750px){
#Card-Image-home{
  width:170px;
  height: 185px;
  border-radius: 17px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.Section-Title{
  font-size: 20px;
  text-align: left;
  margin-left: 4%;
  margin-bottom: -40px;
  color: rgb(62, 85, 192);
}
}
@media only screen and (min-width: 750px) and (max-width:1334px){
  .Section-Title{
    font-size: 30px;
    text-align: left;
    margin-left: 4%;
    margin-bottom: -40px;
    color: rgb(62, 85, 192);
  }
}
@media only screen and (min-width: 1335px){
  .Section-Title{
    font-size: 40px;
    text-align: left;
    margin-left: 3%;
    margin-bottom: -40px;
    color: rgb(62, 85, 192);
  }
}
@media only screen and (min-width: 750px){
  #Card-Image-home{
    width:224px;
    height: 240px;
    border-radius: 17px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
  } 
  /* #Card-Margin{
    margin-left: auto;
    margin-right: auto;
  } */

}
.Card-Body{
  width: 147px;
  height: 50px;
  margin: '0 auto';
}

@media only screen and (max-width: 750px){

  .jumbotron-style{
    height: 412px;
    background-image: url('https://i.imgur.com/1WxREyp.jpg');
    background-size: cover;
  }

  #Card-Margin{
    margin-left: auto;
    margin-right: auto;
  }

}
.Card-Title{
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-top: 7px;

}

.Card-Text{
  font-size: 13px;
}


.ShowHideButton{
  width: 222px;
  height: 32px;
  border-radius: 10px;
  margin-top: 40px;
}
@media only screen and (min-width: 750px){
.jumbotron-style{
  background-image: url('https://i.imgur.com/1WxREyp.jpg');
  background-size: cover;
  height: 532px;
}

}
@media only screen and (max-width: 749px){
  
}

@media only screen and (max-width: 649px){
  

}

.Card-Text{
  font-size: 13px;

}


.ShowHideButton{
  width: 222px;
  height: 32px;
  border-radius: 10px;
  margin-top: 40px;
}
@media only screen and (min-width: 750px){
.jumbotron-style{
  background-image: url('https://i.imgur.com/1WxREyp.jpg');
  background-size: cover;
  height: 532px;
}

}
@media only screen and (max-width: 749px){
  .AccountLabel{
  font-size: 20px;
  margin-left: 20px;
  margin-right: -8px;
  }
}

@media only screen and (min-width: 750px){
  .AccountLabel{
    font-size: 25px;
    margin-left: 20px;
    }
}

#dropDownicon{
  
}

.App1 {
  text-align: center;
}
@media only screen and (max-width: 749px){
  .FilterDiv{
    margin: 0 auto;
    width: 350px;
    background-color: rgba(159, 151, 157, 0.5);
    margin-right: 13%;
    }
}
@media only screen and (min-width: 750px){
  .FilterDiv{
    margin: 0 auto;
    width: 350px;
    background-color: rgba(159, 151, 157, 0.5);
    margin-right: 3%;
    }
}

.buttonSearchzz {
  background-color: rgb(242, 237, 88);
  width: 180px;
  border: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-radius: 22px;

}

.selectFilterBar{
  width: 300px;
  margin: 2px;
  /* width: 150px; */
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://i.imgur.com/vhhhiyl.png) 96% / 10% no-repeat #eee;
}

